<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'room_page/style.css' %}">
    <!-- <link rel="stylesheet" href="../static/room_page/style.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <div class="main">
        <div class="chat-log" id="chat-log">
            <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>

            <div class="message my-message">
                <span class="message-author">You</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message</span>
            </div>

            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>

            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>

            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>

            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>

            <div class="message">
                <span class="message-author">Alek</span>
                <span class="message-content">This is a messageThis is a messageThis is a messageThis is a
                     messageThis is a messageThis is a messageThis is a messageThis is a messageThis is a messag
                     eThis is a messageThis is a messageThis is a messageThis is a messageThis is a
                      messageThis is a message
                </span>   
            </div>
            
        </div>
        <div class="message-input">
            <input class="message-field" id="chat-message-input" type="text" size="100"><br>
            <input class="message-submit" id="chat-message-submit" type="button" value="Send">
        </div>
    <script src="{% static 'room_page/script.js' %}"></script>
    <!-- <script src="../static/room_page/script.js"></script> -->
    </div>
</body>
</html>
